src/main/resources/hotels.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://localhost:8081" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://localhost:8081/" targetNamespace="http://localhost:8081/">
  <wsdl:types>
    <xs:schema xmlns:tns="http://localhost:8081" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://localhost:8081">

  <xs:element name="getHotelRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tns:id"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="getListRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tns:size"/>
        <xs:element ref="tns:page"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="searchByNameRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tns:size"/>
        <xs:element ref="tns:page"/>
        <xs:element ref="tns:name"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="createHotelRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tns:name"/>
        <xs:element ref="tns:address"/>
        <xs:element ref="tns:rating"/>
        <xs:element maxOccurs="unbounded" minOccurs="0" name="amenities" type="tns:amenity"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="updateHotelRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="hotel" type="tns:hotel"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="deleteHotelRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tns:id"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="createHotelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="hotel" type="tns:hotel"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="updateHotelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="hotel" type="tns:hotel"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="getHotelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="hotel" type="tns:hotel"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="deleteHotelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="message" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="getListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tns:size"/>
        <xs:element ref="tns:page"/>
        <xs:element ref="tns:totalPages"/>
        <xs:element ref="tns:totalElements"/>
        <xs:element maxOccurs="unbounded" minOccurs="0" name="hotels" type="tns:hotel"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="searchByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tns:size"/>
        <xs:element ref="tns:page"/>
        <xs:element ref="tns:totalPages"/>
        <xs:element ref="tns:totalElements"/>
        <xs:element maxOccurs="unbounded" minOccurs="0" name="hotels" type="tns:hotel"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="hotel">
    <xs:sequence>
      <xs:element ref="tns:id"/>
      <xs:element ref="tns:name"/>
      <xs:element ref="tns:address"/>
      <xs:element ref="tns:rating"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="amenities" type="tns:amenity"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="amenity">
    <xs:sequence>
      <xs:element ref="tns:id"/>
      <xs:element ref="tns:name"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="id" type="xs:int"/>
  <xs:element name="name" type="xs:string"/>
  <xs:element name="address" type="xs:string"/>
  <xs:element name="rating" type="xs:int"/>
  <xs:element name="size" type="xs:int"/>
  <xs:element name="page" type="xs:int"/>
  <xs:element name="totalPages" type="xs:int"/>
  <xs:element name="totalElements" type="xs:int"/>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="deleteHotelRequest">
    <wsdl:part element="sch:deleteHotelRequest" name="deleteHotelRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateHotelRequest">
    <wsdl:part element="sch:updateHotelRequest" name="updateHotelRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createHotelRequest">
    <wsdl:part element="sch:createHotelRequest" name="createHotelRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getListResponse">
    <wsdl:part element="sch:getListResponse" name="getListResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="searchByNameResponse">
    <wsdl:part element="sch:searchByNameResponse" name="searchByNameResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getHotelRequest">
    <wsdl:part element="sch:getHotelRequest" name="getHotelRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getListRequest">
    <wsdl:part element="sch:getListRequest" name="getListRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="searchByNameRequest">
    <wsdl:part element="sch:searchByNameRequest" name="searchByNameRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createHotelResponse">
    <wsdl:part element="sch:createHotelResponse" name="createHotelResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateHotelResponse">
    <wsdl:part element="sch:updateHotelResponse" name="updateHotelResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getHotelResponse">
    <wsdl:part element="sch:getHotelResponse" name="getHotelResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteHotelResponse">
    <wsdl:part element="sch:deleteHotelResponse" name="deleteHotelResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="HotelsPort">
    <wsdl:operation name="deleteHotel">
      <wsdl:input message="tns:deleteHotelRequest" name="deleteHotelRequest">
    </wsdl:input>
      <wsdl:output message="tns:deleteHotelResponse" name="deleteHotelResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateHotel">
      <wsdl:input message="tns:updateHotelRequest" name="updateHotelRequest">
    </wsdl:input>
      <wsdl:output message="tns:updateHotelResponse" name="updateHotelResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createHotel">
      <wsdl:input message="tns:createHotelRequest" name="createHotelRequest">
    </wsdl:input>
      <wsdl:output message="tns:createHotelResponse" name="createHotelResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getList">
      <wsdl:input message="tns:getListRequest" name="getListRequest">
    </wsdl:input>
      <wsdl:output message="tns:getListResponse" name="getListResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchByName">
      <wsdl:input message="tns:searchByNameRequest" name="searchByNameRequest">
    </wsdl:input>
      <wsdl:output message="tns:searchByNameResponse" name="searchByNameResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getHotel">
      <wsdl:input message="tns:getHotelRequest" name="getHotelRequest">
    </wsdl:input>
      <wsdl:output message="tns:getHotelResponse" name="getHotelResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="HotelsPortSoap11" type="tns:HotelsPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="deleteHotel">
      <soap:operation soapAction=""/>
      <wsdl:input name="deleteHotelRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteHotelResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateHotel">
      <soap:operation soapAction=""/>
      <wsdl:input name="updateHotelRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateHotelResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createHotel">
      <soap:operation soapAction=""/>
      <wsdl:input name="createHotelRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createHotelResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getList">
      <soap:operation soapAction=""/>
      <wsdl:input name="getListRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getListResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchByName">
      <soap:operation soapAction=""/>
      <wsdl:input name="searchByNameRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="searchByNameResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getHotel">
      <soap:operation soapAction=""/>
      <wsdl:input name="getHotelRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getHotelResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HotelsPortService">
    <wsdl:port binding="tns:HotelsPortSoap11" name="HotelsPortSoap11">
      <soap:address location="http://localhost:8081/ws"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>